/* @override gsappFetcher.day_names
	http://www.columbia.edu/cu/arch/tmpltzr/html-elements.css
	http://postfog.org/templatizer/sites/all/themes/tmpltzr/css/html-elements.css?h
*/

body {
    margin: 0;
    padding: 0;
    font: 16px/20px "DIN Next W02 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
    background-color:white;
    text-align: left;
}

body.loading #tmpltzr, body.loading footer {
	opacity:0.0;
	filter: alpha(opacity = 0);
}

#preloader{
	margin-top:170px;
	display:none;
}

body.loading #preloader{
	display:block;
}

body strong, body b{
	font-weight: normal;
}

a {
    text-decoration:underline;
    color:#000;
}

a:hover {
    color: #777;
}

/* Removes dotted borders on clicked links from Firefox */

a:active {
    outline: none;
}

a:focus {
    -moz-outline-style: none;
}

/* HEADINGS */

h1 {
    font: 45px "DIN Next W02 Bold", Arial, Helvetica, sans-serif;
    margin: 0;
    padding:0 0 50px;
    text-transform:uppercase;
    width:500px;
}

h2 {

    font: 36px "DIN Next W02 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform:uppercase;
	margin:0 0 30px 0;
}

#tmpltzr h2 a{
	text-decoration: none !important;
	border-bottom: none;
}

#tmpltzr h2 a:hover {
	border-bottom: solid 2px;
	color: black !important;
}

#tmpltzr .no-margin-bottom h2{
	margin-bottom:5px;
}

h3 {

    font: 14px "DIN Next W02 Bold", Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    margin: 0 0 15px;
    padding:0px 0px 0px 0px;
    
    

}

h4 {

    font: 14px/20px "DIN Next W02 Bold", Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    margin: 0 0 15px;
    padding:0px 0px 0px 0px;

}

h5 {
	font: 14px "DIN Next W02 Bold", Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    margin: 0 0 15px;
    padding:0px 0px 0px 0px;
}

h6 {

    font: 24px Arial, Helvetica, sans-serif;

    font-weight:bold;

    margin: 0px;

    padding:0px 0px 10px 0px;

}

/* Table elements */

table {

    margin: 1em 0;

    width: 100%;

}



th a:link, th a:visited {

    color: gray;

}





tr.drag-previous {

    background-color: #ffd;

}

td.region, td.module, td.container, td.category {

    border-top: 1.5em solid #fff;

    border-bottom: 1px solid #b4d7f0;

    background-color: #d4e7f3;

    color: #455067;

    font-weight: bold;

}



tr:first-child td.region, tr:first-child td.module, tr:first-child td.container, tr:first-child td.category {

    border-top-width: 0;

}



iframe {

	border:none;

}

/* List elements */

ul {

    margin: 0px;

    padding: 0;

    list-style-type: none !important;

    list-style-image: none !important;

}

#tmpltzr li{
	padding: 0 0 10px 0;
}

ul.menu li, li.expanded, li.collapsed, li.leaf, li{
	
    width: auto;
    list-style: none !important;
    list-style-image: none !important;
}

ol {

    margin: 0.75em 0 1.25em;

    padding: 0 1em;

}

ul.menu, .item-list ul {

    margin: 0;

/* LTR */

    padding: 0;

}

ul.menu ul, .item-list ul ul {

    margin-left: 0em;

/* LTR */

}

ol li {

    padding: 0 0 .3em;

    margin: 0.15em 0 0.15em .5em;

/* LTR */

}

ol.task-list {

    margin-left: 0;

/* LTR */

    list-style-type: none;

    list-style-image: none;

}

ol.task-list li {

    padding: 0.5em 1em 0.5em 2em;

/* LTR */

}

ol.task-list li.active {

    background: transparent url(images/task-list.png) no-repeat 3px 50%;

/* LTR */

}

ol.task-list li.done {

    color: #393;

    background: transparent url(../../misc/watchdog-ok.png) no-repeat 0px 50%;

/* LTR */

}

ol.task-list li.active {

    margin-right: 1em;

/* LTR */

}

dl {

    margin: 0.5em 0 1em 1.5em;

/* LTR */

}

dl dt {

}

dl dd {

    margin: 0 0 .5em 1.5em;

/* LTR */

}

#navigation_mcontentwrapper{
	width:400px;
}


#navigation .menu li a{
	text-decoration:none;
    color:black;
    text-transform: uppercase;
	font: 28px "DIN Next W02 Bold", Arial, Helvetica, sans-serif;
	display:-moz-inline-stack;
	display:inline-block;
	padding:0 0 8px 10px !important;
	letter-spacing: .1em;
}

#navigation .menu li.collapsed a{
	color:gray;
}

.IE #navigation .menu li a{
	zoom:1;
	*display:inline;
}

.IE #navigation .menu{
	overflow: hidden;
}

#navigation .menu li a:hover,
#navigation .menu li.force-expanded a:hover{
	color:black;
}

.iscroll #navigation .menu li a:hover{
	
}

#navigation .menu .menu li a {
	font: 18px "DIN Next W02 Bold", Arial, Helvetica, sans-serif !important;
}

#navigation .menu {
	position:relative;
	word-wrap: break-word
}

#navigation .menu .menu {
	display:none;
}

#navigation .menu li.force-expanded a{
	color:gray;
}

#navigation .menu li.force-expanded.active-trail a{
	color:black;
}

#navigation .menu li.force-expanded .menu {
	display: block;
}
#navigation .force-expanded .menu .menu {
	display: none;
}



#navigation .hover-only{
	margin-left:5px;
	display:none;
	padding-bottom:1px;
}


#navigation ul {
	margin:0 !important;
	padding:0;
	list-style:none !important;
}

#navigation ul ul{
	padding-left:25px;
}

#navigation ul ul ul{
	padding-left:19px !important;
}

#navigation .menu-arrow-large{
	display:-moz-inline-stack;
	display:inline-block;
	width:15px;
	height:15px;
	background:transparent url("http://www.columbia.edu/cu/arch/staging/tmpltzr/assets/menu-arrow-large.png") no-repeat -15px -50px;
}

.IE #navigation .menu-arrow-large{
	zoom:1;
	*display:inline;
	position:relative;
	top:-15px;
}

#navigation .active-trail.expanded .menu-arrow-large{
	background-position: 0 0;
}

#navigation .active-trail.collapsed .menu-arrow-large{
	background-position: -15px 0;
}



#navigation .menu-arrow-small{
	display:-moz-inline-stack;
	display:inline-block;
	width:9px;
	height:9px;
	background:transparent url("http://www.columbia.edu/cu/arch/staging/tmpltzr/assets/menu-arrow-small.png") no-repeat -9px -50px;
	vertical-align: top;
	position: relative;
	top: 7px;
}

.IE #navigation .menu-arrow-small{
	zoom:1;
	*display:inline;
}

#navigation .active-trail.expanded .menu-arrow-small:first-child{
	background-position: 0 0;
}


#navigation .leaf.active-trail .menu-arrow-small:first-child{
	background-position: -9px 0 !important;
}

#navigation .active-trail .force-expanded .menu-arrow-small:first-child{
	background-position: 0 0;
}

#navigation .active-trail .force-expanded .force-expanded .menu-arrow-small:first-child{
	background-position: 0 -50px;
}

#navigation .active-trail .collapsed .menu-arrow-small:first-child{
	background-position: 0 -50px;
}

#navigation .active-trail.collapsed .menu-arrow-small:first-child{
	background-position: -9px 0;
}

#navigation .active-trail.collapsed .menu .menu-arrow-small{
	background-position: 0 -50px;
}



#gsapp-news{
	position:fixed;
	z-index:10000;
	top:45%;
	right: 10px;
	display:block;
	height:120px;
	width:120px;
	background:transparent url("http://www.columbia.edu/cu/arch/staging/tmpltzr/assets/gsappNews.png") no-repeat 0 0;
}

#gsapp-news:hover{
	background-position:-120px 0;
}


/* TMPLTZR */
#tmpltzr {
	color:black;
	width:100%;
}


/*
	TMPLTZR Page Wrapper
*/
#tmpltzr .title-container{
	width:100%;
}
#tmpltzr h3.title{
	width:500px;
}

#tmpltzr a.anchorhash {
	display:none;
}

#tmpltzr p{
	padding:0 !important;
	margin:0 0 25px;
}

#tmpltzr a {
	text-decoration: none;
	border-bottom: solid 1px;
}

#tmpltzr .north-america, #tmpltzr .north-america a {
	color:#00D6FF;
}

#tmpltzr .latin-america, #tmpltzr .latin-america a {
	color:#00E652;
}

#tmpltzr .none {
}

#tmpltzr .south-asia, #tmpltzr .south-asia a {
	color:#FF9E00;
}

#tmpltzr .middle-east, #tmpltzr .middle-east a {
	color:#FF00A6;
}

#tmpltzr .africa, #tmpltzr .africa a { 
	color:#008AFF;
}

#tmpltzr .europe, #tmpltzr .europe a {
	color:#AD20FF;
}

#tmpltzr .asia, #tmpltzr .asia a {
	color:#FF555A;
}

#tmpltzr .other, #tmpltzr .other a{
	color:black;
}

#tmpltzr a:hover {
	border-bottom: none;
	color: inherit;
}

#tmpltzr .view {
	margin-top:0;
	width:100%;
}

#tmpltzr .views-row, #tmpltzr .view-people .views-row {
	display:block;
	float:left;	
	margin-bottom:40px;
	word-wrap:break-word;
}

#tmpltzr .profile .view-Person-user .views-row {
	width:100%;
}

.front #tmpltzr .views-row{
	margin-bottom:20px;
}

#tmpltzr .view-Duplicate .views-row, .view-people .views-row {
	margin-bottom:0;
}

#tmpltzr .views-row.empty {
	display:none;
	margin:0 !important;
}

#tmpltzr .views-row.width-500 {
	width:500px;
}

#tmpltzr .views-row.width-240 {
	width:240px;
}

/*
	TMPLTZR Node Primary (full, image, embed, video)
*/

#tmpltzr .tmpltzr-primary {
	/*margin:0 40px 48px 0;*/
	display:block;
}


#tmpltzr .tmpltzr-primaryimage{
	margin:0 40px 20px 0;
}



#tmpltzr .tmpltzr-primaryfull, #tmpltzr .tmpltzr-primaryhalf, #tmpltzr .tmpltzr-primaryvideo, #tmpltzr .tmpltzr-primaryembed, #tmpltzr .tmpltzr-primaryimage, #tmpltzr .tmpltzr-primaryphotoset {
	float:left;
	width:500px;
}



#tmpltzr .tmpltzr-primaryquarter {

	float:left;

	width:240px;

	/* margin-right:20px; tct2003*/

}



#tmpltzr .tmpltzr-primaryfull img{

	width:500px;

	display:block;	

}



#tmpltzr .tmpltzr-primaryhalf img{

	width:240px;

	display:block;	

}



#tmpltzr .tmpltzr-primaryquarter img{

	width:100px;

	display:block;	

}



#tmpltzr .tmpltzr-primaryfull .tmpltzr-image {

	margin:0 0 40px 0;

}



#tmpltzr .tmpltzr-primaryhalf .tmpltzr-image {
	margin:0 20px 0 0;
	vertical-align: text-bottom;
	display:-moz-inline-stack;
	display:inline-block;
}

.IE #tmpltzr .tmpltzr-primaryhalf .tmpltzr-image{
	zoom:1;
	*display:inline;
}



#tmpltzr .tmpltzr-primaryquarter .tmpltzr-image, .tmpltzr-person .tmpltzr-person-portrait {
	margin:0 15px 0 0;
	vertical-align: text-bottom;
	display:-moz-inline-stack;
	display:inline-block;
}

.IE #tmpltzr .tmpltzr-primaryquarter .tmpltzr-image, .tmpltzr-person .tmpltzr-person-portrait{
	zoom:1;
	*display:inline;
}

.tmpltzr-person .tmpltzr-person-portrait img{
	width:100px;
	display:block;
}


#tmpltzr .tmpltzr-primaryimage .tmpltzr-image,
#tmpltzr .tumblr-results-wrapper .tmpltzr-image,
#tmpltzr .tumblr-results-wrapper iframe,
#tmpltzr .tumblr-results-wrapper embed,
#tmpltzr .tumblr-results-wrapper object {

	margin:0 0 10px 0;

}






#tmpltzr .tmpltzr-primaryhalf h2, #tmpltzr .tmpltzr-primaryquarter h2, .tmpltzr-person .tmpltzr-title-container h2 {
	font: 14px/21px "DIN Next W02 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform:uppercase;
	margin:0;
}



#tmpltzr h2.large-title {
	font-size:45px;
}


#tmpltzr .tmpltzr-tags, #tmpltzr .embedded-tumblr-permalink {
	padding-top:10px;
}

#tmpltzr .tmpltzr-subtitle, .tmpltzr-person .tmpltzr-title-container .tmpltzr-subtitle{
	margin-bottom:10px;
}

#tmpltzr .tmpltzr-primaryhalf .tmpltzr-subtitle, #tmpltzr .tmpltzr-primaryquarter .tmpltzr-subtitle,
.tmpltzr-person .tmpltzr-title-container .tmpltzr-subtitle {
	margin-bottom:0;
}

#tmpltzr .tmpltzr-subtitle,
.tmpltzr-person .tmpltzr-title-container .tmpltzr-subtitle,
#tmpltzr .tmpltzr-caption,
#tmpltzr .embedded-tumblr-permalink,
#tmpltzr .tmpltzr-primarycourse .tmpltzr-course-code, #tmpltzr .tmpltzr-primarycourse .tmpltzr-course-points,
#tmpltzr .gs-webResult div.gs-visibleUrl, #tmpltzr .gs-imageResult div.gs-visibleUrl,
#tmpltzr .gsc-result-info,
.view-people .view-filters .views-exposed-widget label,
#footer-inner,
.tmpltzr-featuredeventwidget .featured-events-widget .fe-label,
#tmpltzr .tmpltzr-followwidget .follow-text,
#tmpltzr .embedded-tumblr .tmpltzr-tags,
.profile .views-field-value-5,
#tmpltzr .tmpltzr-widgetannouncement .tmpltzr-widget-body {
	font: 11px/14px "Courier New", Courier, Verdana, sans-serif;
}



.iscroll #tmpltzr .tmpltzr-subtitle,
.iscroll .tmpltzr-person .tmpltzr-title-container .tmpltzr-subtitle,
.iscroll #tmpltzr .tmpltzr-caption,
.iscroll #tmpltzr .embedded-tumblr-permalink,
.iscroll #tmpltzr .tmpltzr-primarycourse .tmpltzr-course-code, #tmpltzr .tmpltzr-primarycourse .tmpltzr-course-points,
.iscroll #tmpltzr .gs-webResult div.gs-visibleUrl, #tmpltzr .gs-imageResult div.gs-visibleUrl,
.iscroll #tmpltzr .gsc-result-info,
.iscroll .view-people .view-filters .views-exposed-widget label,
.iscroll #footer-inner,
.iscroll .tmpltzr-featuredeventwidget .featured-events-widget .fe-label,
.iscroll #tmpltzr .embedded-tumblr .tmpltzr-tags,
.iscroll .profile .views-field-value-5,
.iscroll #tmpltzr .tmpltzr-widgetannouncement .tmpltzr-widget-body {
	font: 14px/18px "Courier New", Courier, Verdana, sans-serif;
}


#tmpltzr .tmpltzr-primaryhalf .tmpltzr-title-container,
#tmpltzr .tmpltzr-primaryquarter .tmpltzr-title-container,
.tmpltzr-person .tmpltzr-title-container {
	margin:0;
	padding:0;
	display:-moz-inline-stack;
	display:inline-block;
	width:235px;
}

.IE #tmpltzr .tmpltzr-primaryhalf .tmpltzr-title-container,
.IE #tmpltzr .tmpltzr-primaryquarter .tmpltzr-title-container,
.IE .tmpltzr-person .tmpltzr-title-container{
	zoom:1;
	*display:inline;
}

#tmpltzr .tmpltzr-primaryquarter-container {
	width:520px;
	float:left;
}

#tmpltzr .tmpltzr-primaryquarter .tmpltzr-title-container, .tmpltzr-person .tmpltzr-title-container {
	width:120px;
}



#tmpltzr .tmpltzr-body {
	font: 16px/20px "DIN Next W02 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding:0 !important;
}

.iscroll #tmpltzr .tmpltzr-body {
	font: 20px/28px "DIN Next W02 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


#tmpltzr .tmpltzr-primaryhalf .tmpltzr-body, #tmpltzr .tmpltzr-primaryquarter .tmpltzr-body{
	display:block;
	clear:both;
	margin-top:20px;

}


#tmpltzr .tmpltzr-subtitle p {
	margin:0 !important;
}

#tmpltzr .tmpltzr-embed-html {
	margin:0 0 20px 0;
}


#tmpltzr .tmpltzr-secondaryquote.tmpltzr-module-240, #tmpltzr .tmpltzr-secondaryimage {
	display:block;
	padding: 20px;
	width:200px;
	float:left;
	margin-right:20px;
}

#tmpltzr .tmpltzr-secondaryquote.tmpltzr-module-500 {
	display:block;
	padding: 20px;
	width:460px;
	float:left;
	margin-right:20px;
}

#tmpltzr .tmpltzr-primaryquote {
	display:block;
	padding: 20px;
	width:460px;
	float:left;
}



#tmpltzr .tmpltzr-secondaryvideo.tmpltzr-module-500, #tmpltzr .tmpltzr-secondaryembed, #tmpltzr .tmpltzr-secondaryphotoset {
	display:block;
	padding: 20px;
	width:460px;
	float:left;
}

#tmpltzr .tmpltzr-secondaryvideo.tmpltzr-module-240, #tmpltzr .tmpltzr-secondaryembed.tmpltzr-module-240, #tmpltzr .tmpltzr-secondaryphotoset.tmpltzr-module-240 {
	display:block;
	padding: 20px;
	width:200px;
	float:left;
}

#tmpltzr .tmpltzr-secondaryvideo.tmpltzr-module-240 .tmpltzr-embed-flickr object{
	width:200px;
	height:150px;
}

#tmpltzr .tmpltzr-secondaryvideo.tmpltzr-module-240 .tmpltzr-embed-video iframe{
	width:200px;
	height:150px;
	padding-bottom:20px;
}

#tmpltzr .none .tmpltzr-secondary, #tmpltzr .other.tmpltzr-widget, #tmpltzr .other .tmpltzr-secondary, #tmpltzr .none .tmpltzr-secondary, #tmpltzr .none .tmpltzr-primaryquote, #tmpltzr .other .tmpltzr-primaryquote {
	background-color: #efefef;
}

#tmpltzr .none.tmpltzr-widget {
	background-color: transparent;
}

#tmpltzr .latin-america .tmpltzr-secondary, #tmpltzr .latin-america.tmpltzr-widget, #tmpltzr .latin-america .tmpltzr-primaryquote{
	background-color: #e0fcea;
}

#tmpltzr .middle-east .tmpltzr-secondary, #tmpltzr .middle-east.tmpltzr-widget, #tmpltzr .middle-east .tmpltzr-primaryquote{
	background-color: #ffebf8;
}

#tmpltzr .other .tmpltzr-secondary, #tmpltzr .other.tmpltzr-primaryquote{
	color:gray;
}

#tmpltzr .north-america .tmpltzr-secondary, #tmpltzr .north-america.tmpltzr-widget, #tmpltzr .north-america .tmpltzr-primaryquote {
	background-color:#e0faff;
}

#tmpltzr .south-asia .tmpltzr-secondary, #tmpltzr .south-asia.tmpltzr-widget, #tmpltzr .south-asia .tmpltzr-primaryquote {
	background-color:#fff3e0;
}

#tmpltzr .africa .tmpltzr-secondary, #tmpltzr .africa.tmpltzr-widget, #tmpltzr .africa .tmpltzr-primaryquote { 
	background-color:#e0f1ff;
}

#tmpltzr .europe .tmpltzr-secondary, #tmpltzr .europe.tmpltzr-widget, #tmpltzr .europe .tmpltzr-primaryquote {
	background-color:#f5e4ff;
}

#tmpltzr .asia .tmpltzr-secondary, #tmpltzr .asia.tmpltzr-widget, #tmpltzr .asia .tmpltzr-primaryquote {
	background-color:#ffe7e8;
}





#tmpltzr .tmpltzr-quote {

	display:block;

	font: 24px/28.8px "DIN Next W02 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

#tmpltzr .tmpltzr-quote p {

	margin:0 !important;

}



#tmpltzr .tmpltzr-secondary .tmpltzr-image {

	margin:0 0 20px 0;

}



#tmpltzr .tmpltzr-secondary h2 {

	font: 14px "DIN Next W02 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;

	text-transform:uppercase;

	margin:0 0 20px 0;

}


#tmpltzr .tumblr-caption p{
	margin-bottom:15px;
}

#tmpltzr .tumblr-caption blockquote{
	margin:0;
}

/* TUMBLR FEED */
#tmpltzr .tumblr-results-wrapper {
	width:520px;
}


#tmpltzr .tumblr-post-date {
	font: 16px/20px "DIN Next W02 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform:uppercase;
	margin-bottom: 4px;
}

#tmpltzr .embedded-tumblr {
	margin: 0 0 80px 0;
}

#tmpltzr .embed-tumblr-conversation-speaker {
	font: 16px/20px "DIN Next W02 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform:uppercase;
}
#tmpltzr .embed-tumblr-conversation-segment {
	margin-bottom: 14px;
}

#tmpltzr .embedded-tumblr .tmpltzr-body.photo img{
	width:500px;
}

#tmpltzr .embedded-tumblr p{
	max-width:500px;
}


#tmpltzr .embedded-tumblr .tmpltzr-image-small{
	width:240px;
}

#tmpltzr .embedded-tumblr .photoset .photo.first{
	width:500px;
	margin:0 0 10px;
	display:block;
}

#tmpltzr .embedded-tumblr .photoset .photo.even,
#tmpltzr .embedded-tumblr .photoset .photo.odd{
	padding:0;
	margin:0 20px 10px 0;
	display:-moz-inline-stack;
	display:inline-block;
	width:240px !important;
}

.IE #tmpltzr .embedded-tumblr .photoset .photo.even,
.IE #tmpltzr .embedded-tumblr .photoset .photo.odd{
	zoom:1;
	*display:inline;
}

#tmpltzr .embedded-tumblr .photoset.odd img{
	float:right;
}

#tmpltzr .embedded-tumblr .photoset.even img{
	float:left;
}

#tmpltzr .embedded-tumblr .link h2 a{
	border-bottom:1px solid black;
}

#tmpltzr .embedded-tumblr .link h2 a:hover{
	border-bottom:none;
}

/******************** PHOTOSET WITH JCAROUSEL ********************/

#tmpltzr .tmpltzr-photoset li img{
	text-align: center;
	margin: 0 auto;
	display: block;
}

#tmpltzr .tmpltzr-primary .jcarousel-clip-horizontal{
	width:500px;
	overflow:hidden;
}	

#tmpltzr .tmpltzr-secondary .jcarousel-clip-horizontal{
	width:460px;
	overflow:hidden;
}	

#tmpltzr .tmpltzr-primary .tmpltzr-photoset-container {
	position: relative;
	width:500px;
	margin-bottom: 12px;
	height:333px;
}

#tmpltzr .tmpltzr-primary .tmpltzr-photoset-container ul li{
	width:500px;
	height:333px;
	display: block;
	background-color: black;
}

#tmpltzr .tmpltzr-secondary.tmpltzr-module-500 .tmpltzr-photoset-container {
	position: relative;
	width:460px;
	margin-bottom: 12px;
	height:306px;
}

#tmpltzr .tmpltzr-photoset-container .tmpltzr-photoset-prev {
	position:absolute;
	left:0px;
	width:20px;
	height:20px;
	cursor: pointer;
    background: transparent url("http://www.columbia.edu/cu/arch/staging/tmpltzr/assets/photoslider_prev.png") no-repeat 0 0;
}

#tmpltzr .tmpltzr-photoset-prev:hover,
#tmpltzr .tmpltzr-photoset-prev:focus {
    width:55px;
}

#tmpltzr .tmpltzr-photoset-container .tmpltzr-photoset-next {
	position:absolute;
	right:0px;
	width:20px;
	height:20px;
	cursor: pointer;
    background: transparent url("http://www.columbia.edu/cu/arch/staging/tmpltzr/assets/photoslider_next.png") no-repeat -35px 0;
}

#tmpltzr .tmpltzr-primary .tmpltzr-photoset-container .tmpltzr-photoset-prev,
#tmpltzr .tmpltzr-primary .tmpltzr-photoset-container .tmpltzr-photoset-next  {
	top:156px;
	z-index:1000;
}

#tmpltzr .tmpltzr-secondary .tmpltzr-photoset-container .tmpltzr-photoset-prev,
#tmpltzr .tmpltzr-secondary .tmpltzr-photoset-container .tmpltzr-photoset-next {
	top:143px;
}

#tmpltzr .tmpltzr-photoset-next:hover,
#tmpltzr .tmpltzr-photoset-next:focus {
	background-position:0 0;
    width:55px;
}



/* COURSE BLOG INDEX PAGE */


#tmpltzr #fixed-header{
	width:520px;
	padding-bottom:10px;
	border-bottom:1px solid black;
	margin-bottom:45px;
	position:fixed;
	top:0;
	padding-top:60px;
	left:460px;
	background-color:white;
	z-index:1000;
}

.iscroll #tmpltzr #fixed-header{
	position: relative;
}

.three-col #tmpltzr #fixed-header{
	width:800px;
}


#tmpltzr #fixed-header h1{
	padding: 0 0 30px;
}


#tmpltzr #fixed-header .term-list,
#tmpltzr #fixed-header #x-affiliation,
#tmpltzr .view-courseblogs a{
	font:13px/17px 'DIN Next W01 Regular', "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	border:none;
}

#tmpltzr .view-courseblogs a:hover{
	border-bottom:1px solid;
}

#tmpltzr #course-blogs-index-listing {
	margin-top:350px;
}

.iscroll #tmpltzr #course-blogs-index-listing {
	margin-top:0;
}	

#tmpltzr #program-list, #tmpltzr #region-list {
	width:250px;
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align: top;
}

.IE #tmpltzr #program-list, #tmpltzr #region-list{
	zoom:1;
	*display:inline;
}

#tmpltzr #semester-list {
	width:200px;
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align: top;
}

.IE #tmpltzr #semester-list{
	zoom:1;
	*display:inline;
}

#tmpltzr #fixed-header li{
	padding-bottom:3px;
}


#course-blogs-index-listing{
	clear:both;
}

#tmpltzr .x-affiliated {
	margin-left: -16px;
	margin-right: 7px;
}

#tmpltzr #x-affiliation{
	margin-top:20px;
	color:gray;
}


#tmpltzr #fixed-header a.term-index-term {
	border:none;
}

#tmpltzr #fixed-header #program-list a.term-index-term{
	color:gray;
}

#tmpltzr #fixed-header #program-list a.term-index-term:hover,
#tmpltzr #fixed-header #program-list a.term-index-term.selected{
	color:black !important;
	border-bottom:1px solid;
	cursor:pointer;
}

#tmpltzr #fixed-header a.north-america.term-index-term:hover,
#tmpltzr #fixed-header a.north-america.term-index-term.selected{
	color:#00D6FF;
	border-bottom:1px solid;
	cursor:pointer;
}

#tmpltzr #fixed-header a.latin-america.term-index-term:hover,
#tmpltzr #fixed-header a.latin-america.term-index-term.selected{
	color:#00E652;
	border-bottom:1px solid;
	cursor:pointer;
}

#tmpltzr #fixed-header a.south-asia.term-index-term:hover,
#tmpltzr #fixed-header a.south-asia.term-index-term.selected{
	color:#FF9E00;
	border-bottom:1px solid;
	cursor:pointer;
}

#tmpltzr #fixed-header a.middle-east.term-index-term:hover,
#tmpltzr #fixed-header a.middle-east.term-index-term.selected{
	color:#FF00A6;
	border-bottom:1px solid;
	cursor:pointer;
}

#tmpltzr #fixed-header a.africa.term-index-term:hover,
#tmpltzr #fixed-header a.africa.term-index-term.selected{
	color:#008AFF;
	border-bottom:1px solid;
	cursor:pointer;
}

#tmpltzr #fixed-header a.europe.term-index-term:hover,
#tmpltzr #fixed-header a.europe.term-index-term.selected{
	color:#AD20FF;
	border-bottom:1px solid;
	cursor:pointer;
}

#tmpltzr #fixed-header a.asia.term-index-term:hover,
#tmpltzr #fixed-header a.asia.term-index-term.selected{
	color:#FF555A;
	border-bottom:1px solid;
	cursor:pointer;
}

#tmpltzr #fixed-header a.other.term-index-term:hover,
#tmpltzr #fixed-header a.other.term-index-term.selected{
	color:gray;
	border-bottom:1px solid;
	cursor:pointer;
}

/* start custom event widget styles */
#tmpltzr .content #event-output {
}

#tmpltzr .content #event-output .embedded-event {
	width: 500px;
	margin-bottom: 50px;
	font: 16px/20px "DIN Next W02 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#tmpltzr .content #event-output .embedded-event a.region, #tmpltzr .content #event-output .embedded-event a.region:hover {
	border: none;
}


#tmpltzr .content #event-output .embedded-event-top-area {
	width: 500px;
	min-height: 55px;
	display: inline-table;
	margin-bottom: 20px;
}

#tmpltzr .content #event-output .embedded-event-date-box {
	width: 55px;
	height: 55px;
	float: left;
	border: 3px solid black;
	margin-right: 15px;
	text-align: center;
	font-size: 18px;
}

#tmpltzr .upcoming-events-output .embedded-event-date-box {
	width: 26px;
	height: 24px;
	float: left;
	border: 2px solid black;
	margin-right: 20px;
	text-align: center;
	font-size: 10px;
	text-transform: uppercase;
	line-height: 11px;
	padding-top: 2px;
	color:black;
}

#tmpltzr .upcoming-events-output .embedded-event{
	height: 77px;
	display:block;
	overflow:hidden;
}
#tmpltzr .upcoming-events-output .embedded-event-title{
	font-size:12px;
	line-height: 14px;
}

#tmpltzr .upcoming-events-output .embedded-event-body-area{
	padding-left:50px;
	font:12px/14px "DIN Next W01 Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#tmpltzr .content #event-output .embedded-event-date-box.filled,
#tmpltzr .embedded-event-date-box.filled {
	background-color:#999;
}


#tmpltzr .content #event-output .embedded-event-date-box.north-america.filled,
#tmpltzr .embedded-event-date-box.north-america.filled {
	background-color:#00D6FF;
}

#tmpltzr .content #event-output .embedded-event-date-box.latin-america.filled,
#tmpltzr .embedded-event-date-box.latin-america.filled {
	background-color:#00E652;
}

#tmpltzr .content #event-output .embedded-event-date-box.south-asia.filled,
#tmpltzr .embedded-event-date-box.south-asia.filled {
	background-color:#FF9E00;
}

#tmpltzr .content #event-output .embedded-event-date-box.middle-east.filled,
#tmpltzr .embedded-event-date-box.middle-east.filled {
	background-color:#FF00A6;
}

#tmpltzr .content #event-output .embedded-event-date-box.africa.filled,
#tmpltzr .embedded-event-date-box.africa.filled {
	background-color:#008AFF;
}

#tmpltzr .content #event-output .embedded-event-date-box.europe.filled,
#tmpltzr .embedded-event-date-box.europe.filled {
	background-color:#AD20FF;
}

#tmpltzr .content #event-output .embedded-event-date-box.asia.filled,
#tmpltzr .embedded-event-date-box.asia.filled {
	background-color:#FF555A;
}

#tmpltzr .content #event-output .embedded-event-date-box.other.filled,
#tmpltzr .embedded-event-date-box.other.filled {
	background-color:gray;
}

#tmpltzr .content #event-output .embedded-event-date-box div {
	position: relative;
	top: 7px;
	line-height: 1.2em;
	color: #000;
}

#tmpltzr .content #event-output .embedded-event-title {
	font-size: 200%;
	line-height: 1.2em;
}

#tmpltzr .content #event-output .embedded-event-body-area {

}
#tmpltzr .content #event-output .embedded-event-description {
	margin-top: 25px;
}
#tmpltzr .content #event-output .embedded-event-description-more {
	margin-top: 25px;
	margin-bottom:40px;
}

.two-col #tmpltzr .view-courseblogs {
	margin-bottom:60px;
	width:500px;
}

.three-col #tmpltzr .view-courseblogs {
	margin-bottom:60px;
	width:750px;
}

#tmpltzr .view-courseblogs td.col-1,
#tmpltzr .view-courseblogs td.col-2,
#tmpltzr .view-courseblogs td.col-3{
	width:240px;
	padding:0 10px 5px 0;
}

.two-col #tmpltzr #course-blogs-index-listing .three-col-list{
	display:none;
}

.three-col #tmpltzr #course-blogs-index-listing .two-col-list{
	display:none;
}

#tmpltzr .view-courseblogs .views-row{
	float:none !important;
	margin-bottom:0;
}
#tmpltzr .view-courseblogs .col{
	width:230px;
	padding-right:20px;
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:top;
}

.IE #tmpltzr .view-courseblogs .col{
	zoom:1;
	*display:inline;
}

#tmpltzr .view-courseblogs .views-row a{
	border:none;
}
#tmpltzr .view-courseblogs .views-row a:hover{
	border-bottom:1px solid;
}

#tmpltzr #course-blogs-index-listing .view-courseblogs a.term-index-term.program{
	color:black !important;
}

#tmpltzr .view-courseblogs a.term-index-term.unselected  {
	color:gray !important;
}

#tmpltzr #main {
	width:540px;
	float:left;
}
.front #tmpltzr #main {
	width:100% !important;
}

#tmpltzr #right-sidebar {
	width:260px;
	float:right;
}

#tmpltzr #right-sidebar .tmpltzr-module {
	margin-bottom:20px;
}


/* TMPLTZR COURSE */

#tmpltzr .tmpltzr-primarycourse .tmpltzr-course-instructor {
	font: 14px/21px "DIN Next W02 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	text-transform: uppercase !important;

}

#tmpltzr .tmpltzr-primarycourse .tmpltzr-course-points{
	padding: 0 0 10px 0;
}

/* TMPLTZR GOOGLE SEARCH */

#tmpltzr .gsc-resultsbox-visible {
	width:500px;
}

#tmpltzr .gsc-resultsbox-visible .gsc-resultsHeader{
	margin:0;
}

#tmpltzr .gsc-control-cse, #tmpltzr .gsc-control-cse .gsc-table-result {
	background: none;
	border-color: none;
	font-family: "DIN Next W01 Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding:0;
}

#tmpltzr .gsc-table-result, #tmpltzr .gsc-thumbnail-inside, #tmpltzr .gsc-url-top{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

#tmpltzr .gsc-control-cse .gs-spelling, #tmpltzr .gsc-control-cse .gs-result .gs-title, #tmpltzr .gsc-control-cse .gs-result .gs-title * {
	height: auto;
	font: 16px/20px "DIN Next W02 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none !important;
	color: black;
	text-transform: uppercase;
	padding:0;
}

#tmpltzr .gsc-control-cse .gs-spelling a{
	border-bottom:1px solid black;
}

#tmpltzr .gsc-control-cse .gs-spelling a b{
	font-weight:normal !important;
}

#tmpltzr .gsc-control-cse .gs-spelling a b i{
	font-style:normal !important;
	color:black !important;
}


#tmpltzr .gs-webResult div.gs-visibleUrl, #tmpltzr .gs-imageResult div.gs-visibleUrl {
	color: black;
	padding:5px 0 0 0;
}

#tmpltzr .gsc-above-wrapper-area{
	border-bottom: none;
	padding-bottom:0;
}

#tmpltzr .gsc-above-wrapper-area table{
	margin:0;
}
	
#tmpltzr .gsc-results .gsc-cursor-box .gsc-cursor-current-page{
	color: black !important;
}

#tmpltzr .gsc-results .gsc-cursor-box .gsc-cursor-page{
	color: gray;
}

.iscroll #tmpltzr .gsc-results .gsc-cursor-box .gsc-cursor-page{
	font-size:20px;
	margin-right:20px;
}

#tmpltzr .gcsc-branding{
	display: none;
}

#tmpltzr .gsc-result-info{
	padding: 0;
}

#tmpltzr .gs-web-image-box img.gs-image, .gs-promotion-image-box img.gs-promotion-image {
	border: none !important;
}

/* home page - temporary dashboard */
#tmpltzr .tmpltzr-home {
	width:460px;
	padding:20px;
	background-color: #efefef;
}

#tmpltzr .tmpltzr-home .tmpltzr-quote-home {
    font: 45px "DIN Next W02 Bold", Arial, Helvetica, sans-serif;
    margin: 0;
    padding:0 0 10px;
    text-transform:uppercase;
    width:100%;
}


/* PEOPLE */
#tmpltzr .view-people{
	margin-top:107px;
}

#tmpltzr .view-people .view-content {
	width:520px;
}

#tmpltzr .view-people .views-row {
	margin-right:20px;
}

#tmpltzr .az-index {
	display:inline;
	margin-bottom:20px;
}

#tmpltzr .az-index li{
	display:inline;
	margin-right:10px;
}

#tmpltzr .az-index li a{
	text-decoration:none;
	border:none !important;
}

#tmpltzr .view-people .tmpltzr-title-container{
	max-height:100px;
	overflow:hidden;
}

#tmpltzr .az-index li a:hover{
	text-decoration:none;
	border-bottom:1px solid black !important;
}


#tmpltzr .view-people .view-filters .views-exposed-widgets{
	width:260px;
}

#tmpltzr .view-people .view-filters .views-exposed-widget label{
	display:block;
	margin-bottom:7px;
	padding-top:17px;
}	

#tmpltzr .view-people .view-filters{
	width:520px;
}

#tmpltzr .view-people .view-filters .views-exposed-widgets .views-exposed-widget{
	width:240px;
	padding:0 !important;
}

#tmpltzr .view-people .view-filters .views-exposed-widgets .views-exposed-widget .views-widget select{
	margin-bottom:20px;
}

#tmpltzr .view-people .view-filters .views-exposed-widgets .views-exposed-widget input{
	margin:5px 0 0 0;
}

#tmpltzr .view-people .view-filters .views-exposed-widget #edit-name-wrapper input{
	border:1px solid black;
	width:230px;
	height:22px;
	outline-offset:0;
}	

#tmpltzr .view-people .view-filters #edit-submit{
	display:block;
}

#tmpltzr .view-people .view-filters{
	margin-bottom:48px;
}

#tmpltzr .view-people h3{
	width:500px;
	display:block;
	margin-bottom:10px;
	clear:left;
}

#tmpltzr .tmpltzr-person .tmpltzr-title-container h2 a{
	border:none;
	text-decoration:none;
}

#tmpltzr .tmpltzr-person .tmpltzr-title-container h2 a:hover{
	border-bottom:1px solid black;
}


/* FOOTER */
#footer-inner{
	width:500px;
}

/* EVENTS WIDGET */
.tmpltzr-featuredeventwidget {
	width:200px;
	padding:20px;
	background-color:#EFEFEF;
}
.tmpltzr-featuredeventwidget .featured-events-widget{
	width:200px;
	height:350px;
}
.tmpltzr-featuredeventwidget .featured-events-widget ul li {
	width:200px;
	height:350px;
}

.tmpltzr-featuredeventwidget .featured-events-widget .fe-image{
	margin-bottom: 12px;
	width:200px;
	height:200px;
}

.tmpltzr-featuredeventwidget .featured-events-widget .fe-image a{
	text-decoration:none;
	border:none !important;
}

.tmpltzr-featuredeventwidget .featured-events-widget .fe-image a:hover{
	opacity: 0.9;
  	filter: alpha(opacity = 90);
  	border:none;
}

.tmpltzr-featuredeventwidget .featured-events-widget .fe-label{
	margin-bottom: 12px;
}
.tmpltzr-featuredeventwidget .featured-events-widget .fe-date{
	font: 14px/18px "DIN Next W02 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	margin-bottom: 17px;
}
.tmpltzr-featuredeventwidget .featured-events-widget .fe-title{
	font: 14px/18px "DIN Next W02 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.tmpltzr-featuredeventwidget .featured-events-widget .fe-type,
.tmpltzr-featuredeventwidget .featured-events-widget .fe-location,
.tmpltzr-featuredeventwidget .featured-events-widget .fe-time{
	font: 14px/18px "DIN Next W01 Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.tmpltzr-featuredeventwidget .featured-events-widget .fe-time{
	height:40px;
}

.tmpltzr-featuredeventwidget .featured-events-widget .fe-location-time-container{
	display:block;
	height:100px;
	overflow:hidden;
}

.tmpltzr-featuredeventwidget .featured-events-widget .fe-prev {
	position:absolute;
	left:0px;
	width:20px;
	height:20px;
	cursor: pointer;
	display:block;
	z-index:1000;
    background: transparent url("http://www.columbia.edu/cu/arch/staging/tmpltzr/assets/photoslider_prev.png") no-repeat 0 0;
}

.tmpltzr-featuredeventwidget .featured-events-widget .fe-prev:hover,
.tmpltzr-featuredeventwidget .featured-events-widget .fe-prev:focus {
    width:55px;
}

.tmpltzr-featuredeventwidget .featured-events-widget .fe-next {
	position:absolute;
	right:0px;
	width:20px;
	height:20px;
	cursor: pointer;
	display:block;
	z-index:1000;
    background: transparent url("http://www.columbia.edu/cu/arch/staging/tmpltzr/assets/photoslider_next.png") no-repeat -35px 0;
}

.tmpltzr-featuredeventwidget .featured-events-widget .fe-prev,
.tmpltzr-featuredeventwidget .featured-events-widget .fe-next  {
	top:90px;
}

.tmpltzr-featuredeventwidget .featured-events-widget .fe-prev,
.tmpltzr-featuredeventwidget .featured-events-widget .fe-next  {
	top:90px;
}

.tmpltzr-featuredeventwidget .featured-events-widget .fe-next:hover,
.tmpltzr-featuredeventwidget .featured-events-widget .fe-next:focus {
	background-position:0 0;
    width:55px;
}

/* UPCOMING EVENTS WIDGET */
#tmpltzr .tmpltzr-upcomingeventswidget{
	padding:20px;
}

/* ACADEMIC CALENDAR WIDGET */
.tmpltzr-academiccalendarwidget {
	width:200px;
	padding:20px;
	background-color:#efefef;
	text-align:center;
	height:257px;
}

.tmpltzr-academiccalendarwidget .ac-today{
	margin:0 auto;
	height:89px;
	width:90px;
	padding:7px;
	border:3px solid black;
	border-top:10px solid black;
	margin-bottom:17px;
}

.tmpltzr-academiccalendarwidget .ac-dayOfWeek,
.tmpltzr-academiccalendarwidget .ac-month{
	font: 14px/18px "DIN Next W02 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}
.tmpltzr-academiccalendarwidget .ac-dayOfMonth{
	font: 52px/53px "DIN Next W02 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* CC WIDGET */
.tmpltzr-ccwidget {
	width:240px;
	padding:0px;
	height: 360px;
}
.tmpltzr-ccwidget .cc-widget{
	width:240px;
	height:360px;
}
.tmpltzr-ccwidget .cc-widget ul li {
	width:240px;
	height:360px;
}

.tmpltzr-ccwidget .cc-widget .cc-image{
	margin-bottom: 24px;
	width:240px;
	height:160px;
}

.tmpltzr-ccwidget .cc-widget .cc-image a{
	text-decoration:none;
	border-bottom:none !important;
}

.tmpltzr-ccwidget .cc-widget a.cc-text{
	text-decoration:none;
	border-bottom:none !important;
	font-size:14px;
	line-height:18px;
	display:block;
	width:200px;
	margin-left:20px;
	height:148px;
	overflow:hidden;
}

.tmpltzr-ccwidget .cc-widget a.cc-text .cc-type{
	font-size:14px;
	line-height:18px;
	text-transform: uppercase;
	padding: 0 2px 0 0;
	vertical-align:text-top;
	color: #FF4358;
}

.tmpltzr-ccwidget .cc-widget .cc-prev{
	position:absolute;
	z-index:1000;
	cursor:pointer;
	top:337px;
	left:18px;
	width:51px;
	height:14px;
	display:block;
	background:transparent url('http://www.columbia.edu/cu/arch/staging/tmpltzr/assets/cc-widget-prev.png') no-repeat 0 0;
}

.tmpltzr-ccwidget .cc-widget .cc-next{
	position:absolute;
	z-index:1000;
	cursor:pointer;
	top:337px;
	right:18px;
	width:51px;
	height:14px;
	display:block;
	background:transparent url('http://www.columbia.edu/cu/arch/staging/tmpltzr/assets/cc-widget-next.png') no-repeat 0 0;
}

.tmpltzr-ccwidget .cc-widget-logo {
	position:absolute;
	width:40px;
	height:40px;
	display:block;
	top:9px;
	right:14px;
	z-index:1000;
	background:transparent url('http://www.columbia.edu/cu/arch/staging/tmpltzr/assets/cclogo40x40.png') no-repeat 0 0;
}

#tmpltzr .tmpltzr-followwidget {
	background-color:#efefef;
	padding:20px;
	width:200px;
}

#tmpltzr .tmpltzr-followwidget .follow-links{
	margin-top:12px;
	display:block;
	height: 44px;
}

#tmpltzr .tmpltzr-followwidget .follow-links a{
	display:-moz-inline-stack;
	display:inline-block;
	width:17px;
	height:17px;
	margin:0 10px 10px 0;
	padding:0 !important;
	float:left;
	border:none !important;
	text-decoration:none;
	background:transparent url('http://www.columbia.edu/cu/arch/tmpltzr/assets/Follow-icons-sprite.png') no-repeat left top;
	background-position: 0px 0px;
}

.IE .tmpltzr-followwidget .follow-links a{
	zoom:1;
	*display:inline;
}

#tmpltzr .tmpltzr-followwidget .follow-links-row{
	clear:both;
}

#tmpltzr .tmpltzr-followwidget .follow-links a#follow-twitter{
	background-position: -26px 0;
}
#tmpltzr .tmpltzr-followwidget .follow-links a#follow-twitter:hover{
	background-position: -26px -17px;
}
#tmpltzr .tmpltzr-followwidget .follow-links a#follow-facebook{
	background-position: -52px 0;
}
#tmpltzr .tmpltzr-followwidget .follow-links a#follow-facebook:hover{
	background-position: -52px -17px;
}
#tmpltzr .tmpltzr-followwidget .follow-links a#follow-linkedin{
	background-position: -78px -42px;
}
#tmpltzr .tmpltzr-followwidget .follow-links a#follow-linkedin:hover{
	background-position: -78px -59px;
}
#tmpltzr .tmpltzr-followwidget .follow-links a#follow-issuu{
	background-position: -130px -42px;
}
#tmpltzr .tmpltzr-followwidget .follow-links a#follow-issuu:hover{
	background-position: -130px -59px;
}
#tmpltzr .tmpltzr-followwidget .follow-links a#follow-flickr{
	background-position: 0 0;
}
#tmpltzr .tmpltzr-followwidget .follow-links a#follow-flickr:hover{
	background-position: 0 -17px;
}
#tmpltzr .tmpltzr-followwidget .follow-links a#follow-cc{
	background-position: -156px 0;
}
#tmpltzr .tmpltzr-followwidget .follow-links a#follow-cc:hover{
	background-position: -156px -17px;
}
#tmpltzr .tmpltzr-followwidget .follow-links a#follow-youtube{
	background-position: -78px 0;
}
#tmpltzr .tmpltzr-followwidget .follow-links a#follow-youtube:hover{
	background-position: -78px -17px;
}
#tmpltzr .tmpltzr-followwidget .follow-links a#follow-vimeo{
	background-position: -104px -42px;
}
#tmpltzr .tmpltzr-followwidget .follow-links a#follow-vimeo:hover{
	background-position: -104px -59px;
}
#tmpltzr .tmpltzr-followwidget .follow-links a#follow-livestream{
	background-position: -130px 0;
}
#tmpltzr .tmpltzr-followwidget .follow-links a#follow-livestream:hover{
	background-position: -130px -17px;
}
#tmpltzr .tmpltzr-followwidget .follow-links a#follow-itunes{
	background-position: -104px 0;
}
#tmpltzr .tmpltzr-followwidget .follow-links a#follow-itunes:hover{
	background-position: -104px -17px;
}

.tmpltzr-htmlwidget {
	padding:20px;
}

.tmpltzr-htmlwidget.none {
	padding:0;
}

/* for jscrollpane custom scroll bar */
/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 1px;
	height: 100%;
	background: transparent;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: transparent;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
	margin: 0;
	padding: 0;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	background: transparent;
	position: relative;
}

.jspDrag
{
	background: transparent;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: transparent;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: transparent;
}

.jspVerticalBar .jspArrow
{
	height: 1px;
}

.jspHorizontalBar .jspArrow
{
	width: 1px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: transparent;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}


/* WIDGET ANNOUNCEMENT */
#tmpltzr .tmpltzr-widgetannouncement{
	padding:20px;
}

#tmpltzr .tmpltzr-widgetannouncement h4{
	text-align:center;
	margin:20px auto;
	color:black !important;
}

#tmpltzr .tmpltzr-widgetannouncement .tmpltzr-widget-body{
	color:black !important;
	margin-bottom:15px;
}

#tmpltzr .tmpltzr-widgetannouncement a .tmpltzr-widget-body,
#tmpltzr .tmpltzr-widgetannouncement a h4{
	border:none !important;
}

#tmpltzr .tmpltzr-widgetannouncement .widget-brand.buell{
	float:right;
	width:34px;
	height:39px;
}

#tmpltzr .tmpltzr-widgetannouncement .widget-brand{
	float:left;
}

#tmpltzr .tmpltzr-widgetannouncement .widget-brand .widget-brand-text{
	margin-left: 7px;
	display:-moz-inline-stack;
	display: inline-block;
}

.IE #tmpltzr .tmpltzr-widgetannouncement .widget-brand .widget-brand-text{
	zoom:1;
    *display:inline;
}


.IE #tmpltzr .tmpltzr-widget a{
	border:none !important;
	text-decoration: none !important;
}

.tmpltzr #books-poster-widget {
	border:none;
}


