/* Drupal 6 Framework - Created by Andre Griffin
------------------------------------------------
[Table of contents]

 0.Reset
 1.Global
 2.Layout
 3.Main
 4.Sidebars
 5.Header
 6.Navigation
 7.Nodes
 8.Comments
 9.Blocks
10.Footer
11.CSS Support

Font sizes: 16px base font with 24px line-height
------------------------------------------------
       font-size / line-height / margin-top
------------------------------------------------
40px = 2.5em     / 1.2         / 0.6em
32px = 2em       / 1.5         / 0.75em
24px = 1.5em     / 1           / 1em
20px = 1.25em    / 1.2         / 1.2em
16px = 1em       / 1..5        / 1.5em
14px = 0.875em   / 1.7143      / 1.7143em
13px = 0.8125em  / 1.8462      / 1.8462em
12px = 0.75em    / 2           / 2em
10px = 0.625em   / 2.4         / 2.4em

Equation for font sizing: 
  Desired px รท Default (or parent) px = em size
------------------------------------------------*/

/**
 * 0.RESET 
 */

@import "reset.css";

/**
 * 1.GLOBAL
 */

body {
  background: #fff;
  color:black;
  font-weight: normal !important;
  font: 11px/15px 'Fute PL W01 Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-style: normal;
  font-weight: normal;
}

h1 {
  font-size:14px;
  line-height: 20px;
  margin-bottom:30px;
  margin-left:-20px;
}

.book .title{
  border-bottom: 2px solid;
}

h2{
  font-size: 24px;
  line-height: 27px;
  margin-bottom: 20px;
  text-align: center;
}

.series-book-title{
  font-size:14px;
  line-height: 20px;
  margin:35px 0 12px;
  text-align: center;
}


p {
  margin: 0 0 1.5em 0;
}

a { color: black; text-decoration: none; border-bottom: 2px solid;}

a:visited, a:hover { color: black; border:none;}

a:focus { outline: none; }

a.imagecache{
  border:none !important;
}

/* apply common styling after reset.css */

li ul, li ol {  margin: 0; }
ul, ol {  margin: 0 1.5em 1.5em 0;  padding-left: 1.5em; }
ul {  list-style-type: disc; }
ol {  list-style-type: decimal; }
dl {  margin: 0 0 1.5em 0; }
dl dt {  font-weight: bold; }
dd {  margin-left: 1.5em; }
hr {  background: #666;  border: none;  clear: both;  float: none;  height: 1px;  margin: 0 0 1.4375em;  width: 100%; }
fieldset {  border: 1px solid #ccc;  margin: 0 0 1.4375em;  padding: 1.5em; }
table {  margin-bottom: 1.5em;  width: 100%; }
th, tr, td {  vertical-align: middle; }
th { padding-right: 1em; }
.sticky-header th, .sticky-table th {  border-bottom: 3px solid #ccc;  padding-right: 1em;  text-align: left; }

/**
 * 2.LAYOUT
 */

#container {
  width:100%;
}

/**
 * 3.MAIN
 */

#main {
  margin: 0 auto;
  text-align: center;
  width:855px;
  padding:185px 0 0 20px;
}


/**
 * 5.HEADER
 */

#header {
  width: 100%;
  height: 180px;
  position: fixed;
  overflow: hidden;
  margin-bottom:100px;
  z-index: 10000;
}

#header-inside{
  width:924px;
  height:180px;
  text-align: center;
  margin:0 auto;
  z-index: 9999;
  background: transparent url("http://www.columbia.edu/cu/arch/books/assets/rhinoBG.png") no-repeat 0 0;
}

#search-container{
  text-align: left;
  display: block;
  width: 149px;
  padding:26px 0 0 0;
  float: left;
  font-size:11px;
  line-height: 15px;
}

#search-container input{
  width: 145px;
  border: 2px solid black;
}

#edit-submit-2, #edit-submit-3,
#search-container #search #edit-submit-1 {
  display: none;
}

#logo{
    float:left;
    margin:14px 0 0 213px;
    border-bottom: none !important;
}

/* hides "Search this site:" label from search forms */

div#edit-search-theme-form-1-wrapper label, 
div#edit-search-block-form-1-wrapper label {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/**
 * 6.NAVIGATION
 */

#navigation {
  clear: both;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  width:477px;
}

#navigation ul {
  list-style: none !important;
  margin: 0;
  padding: 0;
}

#navigation ul li,
#navigation ul li.leaf {
  float: left;
  margin: 0 8px 0 8px;
  padding: 0;
  list-style: none !important;
}

#navigation ul li a {
  display: block;
  border: none;
  padding: 0;
}

#navigation ul li a:hover,
#navigation ul li a:active,
#navigation ul li a.active{
  border-bottom: 2px solid;
}

/* menus and item lists */

.item-list ul {
  margin: 0;
  padding: 0 0 0 1.5em;
}

.item-list ul li {
  margin: 0;
  padding: 0;
}

ul.links li {
  margin: 0;
  padding: 0;
}

ul.inline {
  clear: both;
}

ul.inline li {
  margin: 0;
  padding: 0 1em 0 0;
}

/* admin tabs */

.tabs-wrapper {
  border-bottom: 1px solid #333;
  margin: 0 0 1.4375em;
}

ul.primary {
  border: none;
  margin: 0;
  padding: 0;
}

ul.primary li a {
  background: none;
  border: none;
  display: block;
  float: left;
  line-height: 1.5em;
  margin: 0;
  padding: 0 1em;
}

ul.primary li a:hover, ul.primary li a.active {
  background: #666;
  border: none;
  color: #fff;
}

ul.primary li a:hover {
  background: #888;
  text-decoration: none;
}

ul.secondary {
  background: #666;
  border-bottom: none;
  clear: both;
  margin: 0;
  padding: 0;
}

ul.secondary li {
  border-right: none;
}

ul.secondary li a, ul.secondary li a:link {
  border: none;
  color: #ccc;
  display: block;
  float: left;
  line-height: 1.5em;
  padding: 0 1em;
}

ul.secondary li a:hover, ul.secondary li a.active {
  background: #888;
  color: #fff;
  text-decoration: none;
}

ul.secondary a.active {
  border-bottom: none;
}

/**
 * 7.NODES
 */

.node {
  margin-bottom: 1.5em;
}

/* tags */

.terms {
  margin: 0 0 1.5em;
}

.terms span {
  font-weight: bold;
}

/* profile */

.profile {
  margin: 1.5em 0;
}

.profile h3 {
  border: none;
}

.profile dt {
  margin-bottom: 0;
}

.profile dd {
  margin-bottom: 1.5em;
}

/**
 * 8.COMMENTS
 */

#comments {
  clear: both;
  margin-top: 1.5em;
}

.comment {
  margin-bottom: 1.5em;
}

.comment .new {
  color: red;
  text-transform: capitalize;
  margin-left: 1em;
}

/**
 * 9.BLOCKS
 */

.block {
  margin-bottom: 1.5em;
  position: relative;
}

/* login block */
#user-login-form {
  padding: 0;
  text-align: left;
}

#user-login-form .form-item {
  margin: 1em 0;
}

#user-login-form .item-list ul li {
  background: none;
  margin: 1em 0;
  padding: 0;
}

/* block configuration links */

section.block div.edit {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  display: none;
  font-size: 9px;
  margin: 0;
  overflow: hidden;
  padding: 2px 0 2px 10px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 40;
}

section.block:hover div.edit {
  display:block;
}

section.block div.edit a {
  color: #999;
  margin-right: 10px;
}

section.block div.edit:hover a {
  color: #000;
}

/* views configuration links */

div.view {
  position: relative;
}

div.view div.views-hide-hover,
div.view:hover div.views-hide,
div.view div.views-admin-links,
div.view div.views-admin-links-hover,
div.view div.views-admin-links:hover {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  font-size: 9px;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  padding-left: 10px;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

div.view div.views-admin-links li a {
  color: #999;
}

.view-series .views-row{
  width:265px;
}

/**
 * 10.FOOTER
 */

#footer {
  clear: both;
  padding: 1.5em 0;
  position: relative;
}

#footer a.feed-icon {
  position: absolute;
  right: 0;
  top: 1.6667em;
}

/* support drupal */
#footer #block-system-0 {
  position: absolute;
  right: 25px;
  top: 1.6667em;
}

/**
 * 11.CSS SUPPORT
 */

/**
 * Hide elements from all users.
 *
 * Used for elements which should not be immediately displayed to any user. An
 * example would be a collapsible fieldset that will be expanded with a click
 * from a user.
 */

.element-hidden {
  display: none;
}

/**
 * Hide elements visually, but keep them available for screen-readers.
 *
 * Used for information required for screen-reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user.
 * "!important" is used to prevent unintentional overrides.
 */

.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/**
 * The .element-focusable class extends the .element-invisible class to allow
 * the element to be focusable when navigated to via the keyboard.
 */

.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  position: static !important;
  clip: auto;
}

/**
 * Markup free clearing.
 *
 * @see http://perishablepress.com/press/2009/12/06/new-clearfix-hack
 */

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* IE6 */

* html .clearfix {
  height: 1%;
}

/* IE7 */

*:first-child + html .clearfix {
  min-height: 1%;
}

/* clear floats */
.clear { clear: both; }

/* display block */
.display-block { display: block; }


/* CUSTOM GSAPP BOOKS */

/* BOOK PAGE */
.book .images{
  width:855px;
}

.book .images img{
  margin:0 20px 20px 0;
  float: left;
}

.book .info-container,
.description {
  width:417px;
  text-align: left;
}

.description{
  margin:0 auto 30px;
}

.book .authors-editors-container,
.book .info,
.book .title-container{
  margin-bottom:17px;
}

/* INDEX BY DATE VIEW */
.view-display-id-page_1 .views-row{
  float:left;
  position:relative;
}

.view-display-id-page_1 .index-item a img{
  position: relative;
  z-index: 2;
}

.view-display-id-page_1 .index-item{
  display: block;
  background-color: white;
}

.view-display-id-page_1 .index-item .title-hover{
  display: none;
  position: absolute;
  top:0;
  left:0;
  text-align: left;
  z-index:1;
}


/* JOURNALS INDEX VIEW */
.view-display-id-page_5 {
  width:400px;
  text-align: center;
  margin:0 auto;
}

.view-display-id-page_5 .view-header{
  text-align: left;
}

#lightbox #imageDataContainer{
  bottom: 200px;
  position: relative;
  background: transparent !important;
}

#imageDataContainer #imageData #hoverNav #prevLink{
  border:none !important;
  width:28px;
  height:14px;
  bottom:200px;
  background:transparent url('http://www.columbia.edu/cu/arch/books/assets/prev.png') 0 0 no-repeat;
}

#imageDataContainer #imageData #hoverNav #nextLink{
  border:none !important;
  width:30px;
  height:14px;
  bottom:200px;
  background:transparent url('http://www.columbia.edu/cu/arch/books/assets/next.png') 0 0 no-repeat;
}

#outerImageContainer #bottomNav #bottomNavClose{
  border:none !important;
  top:12px;
  right:12px;
  width:48px;
  height:19px;
  background:transparent url('http://www.columbia.edu/cu/arch/books/assets/close.png') 0 0 no-repeat;
}

