body {
        padding: 0; 
        margin: 0;
        color:blue;
        font-weight: normal !important;
      	font: 11px/15px 'Fute PL W01 Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

.misreading, .misreading a{
  color:blue;
}
.reading, .reading a{
  color:#7b7be8;
}
    
    h1{
      margin-bottom:20px;
    }

    h1 a {
    	color: #000; line-height: 1.2;
    	text-decoration: none;
      border-bottom: 2px solid;
    	font-size: 24px;
      line-height: 20px;
      text-align: center;
      margin: 0 auto 18px;
      color:blue;
    }

    h1 a:hover{
      cursor:pointer;
    }
    

    h2, h2 a { 
    	font-size:14px;
      line-height: 20px;
      border:none !important;
      margin:0;
    }

    h1,h2,h3,h4,h5,h6,b,strong{
      font-weight: normal !important;
    }

    a {
    	text-decoration: none; 
      color: blue;
    	border-bottom: 2px solid;
    } 
    
    a:hover { 
      border-bottom: none !important;
    }

    .post-date a{
      border:none !important;
    }

    /* 858585 */
    a img { 
    outline: 0; 
    border: none; 
    }
    
    .post .text blockquote, .post .quote blockquote {  
    }
    
      /* for nested blockquotes */
      blockquote blockquote { margin-left: 0; }
      blockquote em { font-style: normal; }
      blockquote ul, blockquote ol { padding-left: 2em; }
    ul, ol { padding-left: 0; }
    
    /* Specific elements. */
    #wrapper {
      width:920px;
      margin:0 auto;
      padding-top:185px;
      text-align: center;
    }
    
    #header {
    	width: 100%;
      height: 180px;
      position: fixed;
      overflow: hidden;
      margin-bottom:100px;
      z-index: 10000;
    }

    #header-inside{
      width:924px;
      height:180px;
      text-align: center;
      margin:0 auto;
      z-index: 9999;
      background: transparent url("http://www.columbia.edu/cu/arch/books/assets/rhinoBG.png") no-repeat 0 0;
    }

    #search-container{
      text-align: left;
      display: block;
      width: 149px;
      padding:26px 0 0 0;
      float: left;
      font-size:11px;
      line-height: 15px;
    }

    #search-container input{
      width: 145px;
      border: 2px solid blue;
    }
    
    #navigation{
    }
    
    #logo{
      float:left;
      margin:14px 0 0 213px;
		  border-bottom: none !important;
	}

  #misreading-filter{
    color:blue;
  }

  #reading-filter{
    color:#824ad2;
  }

  .misreading-visible #misreading-filter,
  .reading-visible #reading-filter,
  .misreading-visible #misreading-filter:hover,
  .reading-visible #reading-filter:hover{
    border-bottom:2px solid !important;
  }

  .misreading-hidden #misreading-filter,
  .reading-hidden #reading-filter,
  .misreading-hidden #misreading-filter:hover,
  .reading-hidden #reading-filter:hover{
    border:none !important;
  }

  #main {
      margin: 0 auto;
    }
    
  
    #pager {width: 250px;}

    ul li{
      list-style-type: none !important;
      margin: 20px 0;

    }
    
    /* Various repeated elements. */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
 
.clearfix {
  display: inline-block;
}
 
html[xmlns] .clearfix {
  display: block;
}
 
* html .clearfix {
  height: 1%;
}

    .hidden-permalink{
      display: none;
    }

    .hidden{
      display: none;
    }



    /* MASONRY */


.post{
  width:400px;
  float:left;
  padding-bottom:50px;
}

.post img{
  width:300px;
  height: auto;
  text-align: center;
  margin:20px auto;
}

.post .text-body,
.caption{
  text-align: left;
}

.post .text img{
  text-align: left;
  margin:20px 0 20px 50px;
}

.post .photoset img{
  margin:0 0 12px 0;
}

.post .photo a{
  border:none !important;
}

.read-more{
  font-size:11px;
  line-height: 15px;
  text-align: center;
  margin:12px auto;
}

.read-more a{
  border-bottom:2px solid;
}

.tags{
  font: 9px/9px Monaco, Courier, mono;
}

.tags{
  list-style: none !important;
}

.tags li{
  display: inline-block;
  margin:0 !important;
}

.tags .tag{
  border:none !important;

}

.post .embed-container object,
.post .embed-container iframe{
  max-width: 300px;
  height:auto;
}

.post .photoset,
.video .embed-container{
  margin-top:20px;
  text-align: left;
  margin-left:50px;
}
